# API
NODE_ENV=production
PORT=5000
WHITELIST_REQUESTS="http://localhost:3000,http://localhost:5000"

# IA
ANTHROPIC_KEY="your anthropic key"
GEMINI_KEY="your gemini key"

# DATABASE
DATABASE_URL="your database url"
