# API
NODE_ENV="production"
PORT=5000
WHITELIST_REQUESTS="http://localhost:3000,http://localhost:5000"

# IA
ANTHROPIC_KEY="KEYR$"

# DATABASE
DATABASE_URL="postgresql://postgres:change_me@db:5432/pdf_extractor?schema=public"
